<div class="row">
    <div class="d-flex col-md-2 flex-column" style="height: 90vh; background-color: #1D2D44;">
        <a routerLink="/dashboard" class="my-4 ms-5 text-light" href="">Home</a>
        <a routerLink="/employee" class="my-4 ms-5 text-light" href="">User</a>

    </div>
    <div class="col-md-10 p-3 mt-5">

        <h2 class="text-center mt-3">Add new user details</h2>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="shadow p-4">
                    <!-- form tag -->
                    <form (ngSubmit)="addEmployee()">
                        <div class="my-3">
                            <input #employeeId="ngModel" type="text" class="form-control" placeholder="User ID" name="id"
                                [(ngModel)]="employee.id" required pattern="[0-9]*">
                            <span *ngIf="employeeId.invalid && employeeId.touched" class="text-danger">*Invalid Input</span>
                        </div>
                        <div class="my-3">
                            <input #empName="ngModel" type="text" class="form-control" placeholder="Username" name="uname"
                                [(ngModel)]="employee.username" required pattern="^[a-zA-Z]{3,}$">
                            <span *ngIf="empName.invalid && empName.touched" class="text-danger">*Invalid Input</span>
                        </div>
                        <div class="my-3">
                            <input #empMail="ngModel" type="text" class="form-control my-3" placeholder="Email" name="mail"
                                [(ngModel)]="employee.email" required email>
                            <span *ngIf="empMail.invalid && empMail.touched" class="text-danger">*Invalid Input</span>
                        </div>
                        <div class="form-floating my-3">
                            <select #empStatus="ngModel" class="form-select" id="floatingSelect" aria-label="Floating label select example"
                                name="status" [(ngModel)]="employee.status" required>
                                <option selected></option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <!-- <option value="3">Three</option> -->
                            </select>
                            <label for="floatingSelect">Status</label>
                            <span *ngIf="empStatus.invalid && empStatus.touched" class="text-danger">*Invalid Input</span>
                        </div>
                        <!-- buttons -->
                    <div class="mt-3">
                        <button (click)="cancelEmployee()" class="btn btn-warning">Cancel</button>
                        <button type="submit" class="btn btn-success ms-3">Add</button>
                    </div>
                    </form>

                    
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>


    </div>
</div>